# Node build artifacts
node_modules
npm-debug.log

# Local development

*.dev
.DS_Store

# Docker
#Dockerfile
docker-compose.yml

front

build
build2

# Package-lock.json
package-lock.json
.env
*.env
# Serverless directories
.serverless
